    <div class="container" >
        <div id="messages">
                    </div>
<div class="index">
    <div class="well">
        <div class="span4">
            <h2>Colors</h2>
            <p>Click on the color name to see how many votes there are for that color.</p>
            <p>The total clicks will increase everytime a new vote count is displayed.</p>
        </div>
        <div class="clear"></div>
        <div>
            <table id="datatable" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Color</th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class='text-right'>Total Votes:</td>
                        <td class='total-votes'>0</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        getTableData();
    });
</script>