    <div class="container" >
        <div id="messages">
                    </div>
<div class="index">
    <div class="well">
        <div class="span4">
            <div id="logo"></div>
            <h2>Welcome to the Login Page</h2>
            <p>This is a sample application that showcases what the Tethis Framework is capable of.</p>
            <p>Use the login form to the right to access this site. You can use admin/password to login.</p>
        </div>
        <div class="clear"></div>
        <div class="login-form-container">
            <form name="login_form" id="login_form" method="post">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Username</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder="Type your username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="Type your password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"> Remember me
                        </label>
                        <button type="submit" class="btn btn-primary" name="login_btn" id="login_btn">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>